html, body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

.soundTitles {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, 215px);
  grid-gap: 30px;
}

.soundItem {
  height: 234px;
  border: solid#FF6700 5px;
  padding: 13px;
  cursor: pointer;
}

.oneElement {
  grid-column: 2;
}

.soundItemPicture {
  position: relative;
  width: 179px;
  height: 87%;
  background-size: cover;
  background-repeat: no-repeat;
}

.soundItemPicture img {
  position: absolute;
  left: 37%;
  top: 39%;
}

.soundItemText {
  display: grid;
  grid-template-columns: auto 6px 6px;
  height: 30px;
  color: #ffffff;
}

.soundItemText span:first-child {
  background-color: #000000;
  padding: 5px;
}

.soundItemText span:nth-child(2) {
  background-color: #828282;
}

.soundItemText span:last-child {
  background-color: #3D3D3D;
}

.link {
  color: white;
  text-decoration: underline;
  cursor: pointer;
}